<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
</head>
<body>
    <h1>Liste des employées</h1>
    <ul>
        <li th:each="employee : ${employees}"
            th:text="${employee.name}"
            th:attr="style='background:' + ${employee.fonction.getCodeCouleur()}"></li>
    </ul>
    <h1>Ajouter un employee</h1>
    <form method="post" th:action="@{/addemployee}" th:object="${employee}">
        <label>Nom</label>
        <input type="text" th:field="*{name}"/>
        <label>Email</label>
        <input type="text" th:field="*{email}"/>
        <label>Téléphone</label>
        <input type="text" th:field="*{phone}"/>
        <label>Adresse</label>
        <input type="text" th:field="*{address}"/>
        <select name="color">
            <option th:each="colorOpt : ${T(com.example.demo.Color).values()}"
                    th:value="${colorOpt}" th:text="${colorOpt}"></option>
        </select>
    </form>
</body>
</html>